.container{
    max-width: 600px !important;
    margin: 0 auto;
    border: 2px solid #ff5468;
    border-radius: 25px;
    font-family:'Poppins', sans-serif;
    margin-top: 10px;
}

h1{
    text-align: center;
    margin-top: 20px !important;
}

footer{
    text-align: center;
    font-family:'Poppins', sans-serif;
}

select{
    display: block;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #ff5468;

}

.row{
    border-bottom: 1px dashed #ff5468;
}



.time{
    font-size: 30px;
    text-align: center;
    color: #ff5468;
}

.link{
    display: block;
    margin-bottom: 20px;
    color: #ff5468;
    text-decoration: none;
    text-align: center;
}

.githublink{
    color: #ff5468;
    text-decoration: none;
}